# Database
DATABASE_URL=postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>

# Google OAuth
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>
FRONTEND_URL=http://localhost:5173
REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback

# Mail Settings
MAIL_USERNAME=<YOUR_EMAIL>
MAIL_PASSWORD=<YOUR_APP_PASSWORD>
MAIL_FROM=<YOUR_EMAIL>
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_TLS=True
MAIL_SSL=False
MAIL_FROM_NAME="ScholAR"

# Secrets
SECRET_KEY=<YOUR_SECRET_KEY>
JWT_SECRET=<YOUR_JWT_SECRET>
SESSION_SECRET_KEY=<YOUR_SESSION_SECRET_KEY>
